{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

    <section class="eblog-sign-up-area tp-section-gap">
        <div class="container">
            <div class="section-inner">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-8">
                        <h2 class="heading-title text-center">Se connecter</h2>
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <div class="form-inner inner">
                                <div class="single-input-wrapper">
                                    <input type="email" value="{{ last_username }}" name="_username" id="username" placeholder="Votre email" autocomplete="email" required autofocus>
                                </div>
                                <div class="single-input-wrapper">
                                    <input type="password" name="_password" id="password" placeholder="Mot de passe" autocomplete="current-password" required>
                                </div>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                                <div class="single-input-wrapper">
                                    <button type="submit" class="subscribe-btn tp-btn btn-primary">Log in</button>
                                </div>

                            </div>
                            <div class="form-bottom-text">
                                <p class="text-center">Vous n'avez pas encore de compte ?  <a href="{{ path('app_register') }}">S'inscrire</a> </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
